<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/adminDash.css">
</head>
<body>

    <div class="container">

        <!-- <div class="item">
          <div class="inner">
            <img src="https://cdn-icons-png.flaticon.com/512/4577/4577415.png" >
            <h1>Add An Employee</h1>
            <a href="/admin/addEmployee"><button class="button-53" role="button">Click Me !</button></a>
          </div>
        </div> -->
        <div class="item">
          <div class="inner">
            <img src="https://cdn-icons-png.flaticon.com/512/762/762686.png">
            <h1>Task Assigned</h1>
            <a href="/employee/taskList/<%= id %> "><button class="button-53" role="button">Click Me !</button></a>
          </div>
        </div>
        <div class="item">
          <div class="inner">
            <img src="https://cdn-icons-png.flaticon.com/512/1484/1484584.png">
            <h1>View Employee Feedback</h1>
            <a href="/employee/viewFeedback/<%= id %> "><button class="button-53" role="button">Click Me !</button></a>
          </div>
        </div>
  
      </div>
    
</body>
</html>
